packaging
wheel
ninja
psutil
appdirs>=1.4.4
fire>=0.6.0
multipledispatch>=0.6.0
pqdm>=0.2.0
tempdir>=0.7.1
termcolor>=2.0.0
tqdm>=4.56.0
tree_sitter_languages>=1.10.2
tree-sitter==0.21.3
wget
fvcore
torchtnt
torchtune
torchao
matplotlib
tensorboard
tqdm
transformers
pandas
torchdata>=0.8.0
tomli>=1.1.0
tiktoken
blobfile
tabulate
fsspec
tyro
expecttest
pudb
pytest<=8.3.0
pytest-cov
pytest-pudb
pre-commit
lm_eval
dacite
compoconf>=0.1.9
scipy
safetensors
tabulate
tensorboard
einops
hydra-core
omegaconf
opt-einsum
pandas